@{
    ViewBag.Title = "War Game by Paul Mendoza";
}

<div id="gameBoard"></div>

<div id="testZone" style="display: none;">
    <b>Test Game Board</b>
    <div id="testGameBoard"></div>
</div>

@section Scripts {

    @Scripts.Render("~/bundles/gamecontroller")

}


